doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Gulp static bulder
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/above_the_fold.css')
  body
    block content
    link(rel='stylesheet', href='css/main.css')
    script(src='js/main.js')